.button {
    -fx-background-color:  #048cfc;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 1px;
}

.table-view .column-header {
    -fx-background-color: #4cacfc;
    -fx-text-fill: #ffffff;
    -fx-border-color: #ffffff;
}

.table-view .column-header-label {
    -ft-text-fill: #ffffff;
}

.table-row-cell:odd {
    -fx-background-color: #aaaaaa;
}

.table-row-cell:even {
    -fx-background-color: #ffffff;

}